<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Groepswerk2</title>
        <link rel="stylesheet" href="/css/admin.css" />
        <script src="/js/admin.js" defer></script>
    </head>
    <body>
        <div id="buttons-container">
            <button data-category="Computerscreens">Computerscreens</button>
            <button data-category="Headphones">Headphones</button>
            <button data-category="Keyboards">Keyboards</button>
            <button data-category="Mouses">Mouses</button>
            <button data-category="RAM">RAM</button>
            <button data-category="Videocards">Videocards</button>
            <button data-category="Users">Users</button>
          </div>
          <div id="overview"></div>
          <div id="error"></div>
        
                <!-- <table>
                    <thead>
                        <tr>
                            <th>type</th>
                            <th>_id</th>
                            <th>name</th>
                            <th>price</th>
                            <th>description</th>
                            <th>images</th>
                            <th>raters</th>
                            <th>points</th>
                            <th>Delete</th>
                            <th>Update</th>
                        </tr>
                    </thead>
                    <tbody></tbody></table> -->
            </div>
        </div>
    </body>
</html>
