<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Groepswerk2</title>
        <link rel="stylesheet" href="/css/login.css" />
        <script src="/js/login.js" defer></script>
    </head>
    <body>
        <div class="container">
            <h1>Login</h1>
            <div class="error"></div>
            <form id="login-form">
                <label for="email_phone"></label>
                <input
                    type="text"
                    id="email_phone"
                    name="email_phone"
                    placeholder="Email or phone number"
                />
                <label for="password"></label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Password"
                />
                <button class="green" type="submit">Login</button>
            </form>
        </div>
    </body>
</html>
